<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização de clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        
      </a>
      <div>
        <a align="center" class="navbar-brand" href="/">Find Profissional</a>
      </div>
      

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"></a></li>
      </ul>
      <div class="col-md-3 text-end">
        <a type="button" class="btn btn-outline-primary me-2" href="/adminhome">Voltar</a>
        <a type="button" class="btn btn-danger my-2 my-sm-0" href="/logout">Sair</a>
      </div>
    </header>
    <div align="center">
        <h1>Clientes</h1>
    </div>
    <div align="center">
        <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th></th>

        </tr>
        <tbody>
        {{#each clientes}}
        <tr>
            <th>{{this.id_clientes}}</th>
            <th>{{this.nome}}</th>
            <th>{{this.sobrenome}}</th>
            <th>{{this.cpf}}</th>
            <th>
            <a href="/admin/detalhes/clientes/{{this.id_clientes}}">Detalhes</a>
            <br>
            <a href="/admin/delete/clientes/{{this.id_clientes}}">Excluir</a>
        
        </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
        
    
</body>
</html>