<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Profissional</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>   
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        
        </a>
        <div align="center">
            <a class="navbar-brand" href="/homeCliente">Find Profissional</a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Perfil</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Histórico de Contratações</a></li>
        </ul>
        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"></ul>
        <div class="col-md-3 text-end">
            <a type="button" class="btn btn-danger my-2 my-sm-0" href="/logout">Sair</a>
        </div>

    </header> 
    
    <h3 align="center">Bem-Vindo {{cliente.nome}} {{cliente.sobrenome}}</h1>
    <hr>

    <div align="center">

        <form action="/prestador/servico" method="GET">
            <div>
                <select style="" class="input-2" name="filtro">
                    <option selected>Opções de filtragens</option>
                    <option value="1">Nome Prestador</option>
                    <option value="2">Profissão</option>
                </select>
                <br>
                <br>
                <input class="input-2" name="pesquisar" type="text" placeholder="Pesquise" aria-label="Search"/>
                <br>
                
                <br>
                <input class="input-2" type="submit" value="Pesquisar"/>
            </div>
        </form>
    </div>  

    <div align="center">
        <table border="1px">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Contato</th>
            <th>Profissão</th>

        </tr>
        <tbody>
        {{#each prestadores}}
        <tr>
            <th>{{this.[prestadore.nome]}}</th>
            <th>{{this.[prestadore.sobrenome]}}</th>
            <th>{{this.[prestadore.contato]}}</th>
            <th>{{this.descricao}}</th>
            <th>
            <a href="/cliente/detalhes/prestador/{{this.[prestadore.id_prestadores]}}">Detalhes</a>
            <br>
        </th>
        </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
</body>
</html>


